.sell-nft-container {
    padding: 30px;
}

.sell-nft-text {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    font-family: "Inter", sans-serif;
    margin-left: 100px;
}

.sell-nft-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}