.sell-nft-container {
    padding: 30px;
}

.sell-nft-text {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    font-family: "Inter", sans-serif;
    margin-left: 180px;
}

.sell-nft-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.sell-nft-card {
    background: #251163;
    color: #FFF;
    padding: 20px;
    border-radius: 14px;
}