.superdrops-container {
    padding: 50px;
    margin-left: 100px;
}

.tags.active {
    background: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%);
}

.tags {
    background: #39324D;
    color: #fff;
    border: none;
    border-radius: 30px;
    text-align: center;
    padding: 10px 28px 10px 28px;
}