.superdrops-container {
    padding: 50px;
    margin-left: 100px;
}

.ant-tabs-tab .ant-tabs-tab-btn {
    padding: 2px 20px 2px 20px;
}

.ant-tabs-ink-bar {
    background: transparent !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
    background: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%);
    border-radius: 66px;
}

.drops-text {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.tags {
    color: #fff;
    border: none;
    text-align: center;
    font-size: 17px;
    font-family: "Inter", sans-serif;
}

@media(max-width: 600px) {
    .superdrops-container {
        margin-left: 0px;
    }
}