.cta-container {
    background: url("../../Assets/images/join-community-background.png");
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 80%;
    margin: 20px auto 20px auto;
    border-radius: 10px;
}

.cta-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cta-details h3 {
    color: #FFF;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-top: 10px;
}

.cta-details button {
    height: 50px;
    font-family: "Inter", sans-serif;
    color: #0038ED;
    font-size: 16px;
    width: 150px;
    border: none;
    border-radius: 30px;
}

.cta-details button:hover {
    cursor: pointer;
}

@media(max-width: 600px) {
    .cta-details h3 {
        text-align: center;
        font-size: 30px;
    }
}