.navbar-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.navbar-container .logo img {
    width: 150px;
}

.nav-list ul {
    display: flex;
}

.nav-list ul li {
    list-style: none;
    margin: 0px 30px 0px 30px;
    color: #FFF;
    transition: ease-in-out .7s;
}

.nav-list ul li:hover {
    cursor: pointer;
    color: #0038ED;
    transform: translateY(-6px);
}

.nav-button button {
    width: 130px;
    height: 51px;
    background: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%);
    color: #FFF;
    border-radius: 30px;
    border: none;
}

@media(max-width: 600px) {
    .nav-list ul li {
        display: none;
    }
}