.navbar-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.navbar-container .logo img {
    width: 150px;
}

.nav-bar-icon {
    display: none;
    background: #0038ED;
    color: #FFF;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.nav-bar-icon:hover {
    cursor: pointer;
}

.nav-list ul {
    display: flex;
}

.nav-list ul li {
    list-style: none;
    margin: 0px 30px 0px 30px;
    color: #FFF;
    transition: ease-in-out .7s;
}

.nav-list ul li:hover {
    cursor: pointer;
    color: #0038ED;
    transform: translateY(-6px);
}

.nav-button button {
    width: 130px;
    height: 51px;
    background: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%);
    color: #FFF;
    border-radius: 30px;
    border: none;
}

.nav-button button:hover {
    cursor: pointer;
}

.mobile-menu {
    background: #8D1CFE !important;
    color: #FFF;
}

.mobile-menu ul li {
    list-style: none;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    transition: ease-in-out .6s;
}

.mobile-menu ul li:hover {
    cursor: pointer;
    color: #0038ED;
    transform: translateX(20px);
}

.mobile-menu button {
    width: 130px;
    height: 40px;
    background: #0038ED;
    color: #FFF;
    border-radius: 30px;
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    border: none;
    margin-left: 20px;
}

.ant-drawer-content-wrapper {
    width: 300px !important;
}

.mobile-menu .ant-drawer-close {
    color: #FFF;
    font-size: 20px;
}

@media(max-width: 600px) {
    .nav-list ul li,
    .nav-button {
        display: none;
    }
    .nav-bar-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
    .navbar-container {
        justify-content: flex-start;
    }
}

@media(max-width: 992px) {
    .navbar-container {
        gap: 0px;
    }
}