.heropage-container {
    padding: 30px;
}

.heropage-details {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.heropage-text h2 {
    font-size: 70px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
}

.heropage-image img {
    width: 450px;
}