.footer-container {
    padding: 30px;
}

.footer-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 125px;
}

.footer-logo-text {
    color: #999999;
    font-family: "Inter", sans-serif;
}

.icon {
    margin: 0px 30px 0px 0px;
    font-size: 20px;
}

.footer-logo img {
    width: 120px;
}

.footer-links h5 {
    color: #FFF;
    margin-top: -10px;
    font-family: "Inter", sans-serif;
}

.footer-links ul li {
    list-style: none;
    color: #999999;
    margin-left: -40px;
    margin-top: 10px;
}

.footer-divider {
    width: 90%;
    margin-top: 30px;
    border: 0.6px solid rgba(234, 236, 240, 0.16);
}

.footer-copyright {
    color: #999999;
    text-align: center;
}