.footer-container {
    padding: 30px;
}

.footer-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
}

.footer-logo-text {
    color: #999999;
}

.icon {
    margin: 0px 10px 0px 10px;
}

.footer-logo img {
    width: 120px;
}