.footer-container {
    padding: 30px;
}

.footer-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
}

.footer-logo-text {
    color: #FFF;
}

.footer-logo img {
    width: 120px;
}