.nftcard-container {
    margin-top: 50px;
}

.nftcard {
    background: #FFF;
    height: 400px;
    width: 285px;
    border-radius: 10px;
}

.countdown {
    background: #815EE3;
    color: #FFF;
    border-radius: 30px;
}

.nftcard-details .nft-image {
    margin: auto;
    display: block;
    padding-top: 8px;
}

.nft-price-number {
    display: flex;
    margin-top: -20px;
    margin-left: 5px;
}

.nft-name {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
}

.nft-price-number .eth-logo {
    width: 50px;
    height: 50px;
}

.nft-price {
    margin-left: -10px;
    font-size: 15px;
    margin-top: 5px;
    color: #815EE3;
}

.nftcard-details .nft-price-number-text {
    margin-left: 120px;
    font-size: 15px;
    font-weight: 100;
    margin-top: 0px;
}

.nftcard-details .nft-line {
    margin-top: -9px;
    border: 0.9px solid #EDECEC;
    width: 90%;
}

.nft-time-button {
    display: flex;
    margin-left: 10px;
}

.bid {
    margin-left: 100px;
    background: transparent;
    border: none;
    color: #815EE3;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}