.nftcard-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.nftcard {
    background: #FFF;
    height: 400px;
    width: 285px;
    border-radius: 10px;
}

.nftcard-details .nft-image {
    margin: auto;
    display: block;
    padding-top: 8px;
}

.nft-price-number {
    display: flex;
    margin-top: -20px;
    margin-left: 5px;
}

.nft-name {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
}

.eth-logo {
    width: 50px;
    height: 50px;
}

.nft-price {
    margin-left: -10px;
    font-size: 15px;
    margin-top: 5px;
    color: #815EE3;
}

.nftcard-details .nft-price-number-text {
    margin-left: 145px;
    font-size: 15px;
    font-weight: 100;
    margin-top: 0px;
}

.nftcard-details .nft-line {
    margin-top: -5px;
    border: 0.9px solid #EDECEC;
    width: 90%;
}

.nft-time-button {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.countdown {
    background: #E3DAFF;
    text-align: center;
    color: #1C51FE;
    width: 80px;
    font-size: 9px;
    font-weight: 600;
    height: 30px;
    border-radius: 66px;
}

.bid {
    margin-left: 90px;
    background: transparent;
    border: none;
    color: #1C51FE;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.bid:hover {
    cursor: pointer;
}

.ant-modal {
    background: transparent !important;
}

.modal-logo-price {
    display: flex;
    align-items: center;
}

.modal-text {
    color: #815EE3;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.modal-price {
    font-size: 18px;
    margin-top: 10px;
    color: #815EE3;
}

.ant-modal-content {
    border-radius: 10px !important;
}

.view-more-btn {
    background: linear-gradient(112.62deg, #8D1CFE 29.4%, #0038ED 105.15%);
    color: #FFF;
    border: none;
    margin-top: 30px;
    height: 40px;
    width: 130px;
    border-radius: 40px;
}

.view-more-btn:hover {
    cursor: pointer;
}

.live-auction img {
    width: 100%;
    padding: 0px;
}

.nft-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nft-button .primary-btn {
    display: block;
    background: #815EE3;
    font-size: 15px;
    border: none;
    color: #FFF;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 4px;
}

.nft-button .secondary-btn {
    color: #815EE3;
    font-size: 15px;
    width: 100%;
    background: #FFF;
    height: 40px;
    font-family: "Inter", sans-serif;
    border: #815EE3 1px dashed;
    border-radius: 4px;
}

.nft-button button:hover {
    cursor: pointer;
}

@media(max-width: 600px) {
    .nftcard-details .nft-image {
        width: 250px;
    }
}