.nftcard-container {
    margin-top: 50px;
}

.nftcard {
    background: #FFF;
    height: 377px;
    width: 285px;
    border-radius: 10px;
}

.nftcard-details img {
    margin: auto;
    display: block;
    padding-top: 8px;
}